
/*HEADER*/

header{
    padding: 36px 0 98px;;
    background-color: #f6f6f6; 
    /* list-style: none; */       
}


.header-container {

}


.header-mobile-wrap {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 96px;
    
}
.header-logo {
    margin-right: 97px;
    color: #252B42;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.33; 
    letter-spacing: 0.1px;
}


.header-menu{
    display: none;
    margin-right: 39px;
}

.header-service {
    display: flex;
    gap: 24px;
    margin-right: 32px;
}
.header-service-item {
}
.header-service-item-btn {
    display: block;
    
}
.header-service-item-btn-icon {
    display: block;
    width: 24px;
    height: 24px;
}

.header-burger {

}
.header-burger-icon {
    display: block;
    width: 24px;
    height: 24px;
}
.header-mobile-menu {
    
}



.header-menu-list{
    display: flex;
    gap: 21px;
}



.header-menu-list-item{
    color: #737373;
    /* text-align: center; */
    font-size: 14px;
    font-weight: 600;
    line-height: 1.71; 
    letter-spacing: 0.2px;
    }

.header-mobile-menu-list {
    text-align: center;
}
.header-mobile-menu-list-item {
    color: #737373;
    font-size: 30px;
    line-height: 1.5; 
    letter-spacing: 0.2px;
    overflow: hidden;
}
.header-menu-list-item-link {
    position: relative;
    
}
.header-menu-list-item-link::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    border-color: #000;
    transform: translateX(-105%);


}

.header-menu-list-item::after{
    content: "";
    position: absolute;
    top: calc(100%-3px);
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
    transform: translateX(-110%);
    transition: transform 300ms ease-in;
}

.header-menu-list-item:hover::after{
    transform: translateX(0);
}

.header-mobile-menu-list-item:not(:last-child){
    margin-bottom: 30px;
}


/*FIRST*/

.first {
    text-align: center; 
    background-color: #FAFAFA;;


}
.first-container {
    margin: 0 auto;
    padding: 0 15px;
    width: 371px;
}
.first-title {
    margin-bottom: 40px;
    color: #252B42;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.42; 
    letter-spacing: 0.2px;
}
.first-text {
    margin: 0 auto;
    margin-bottom: 40px;
    width: 280px;
    color: #737373;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5; 
    letter-spacing: 0.2px;
}
.first-btn-wrap {
    
}
.first-btn {
    display: block;
    margin: 0 auto;
    padding: 9px 35px;
    font-size: 14px;
    font-weight: 700;
    line-height: 2; 
    letter-spacing: 0.2px;
    border-radius: 37px;
}

.first-btn:first-child{
    margin-bottom: 25px;
    color: #FFF; 
    background-color: #FF7B47;
}

.first-btn:last-child{
    margin-bottom: 52px;
    color: #0D5C63;
    border: 1px solid #0D5C63;
}


@media (min-width:1080px){
    header{
        position: absolute;
        left: 50%;
        background-color: #fafafa;
        transform: translateX(-50%);
    }

    .header-logo{
        margin-right: 533px;
    }

    .header-menu{
        display: block;
    }


    .first-btn-wrap{
        margin-bottom: 0;
    }
    .header-mobile-menu{
        display: none;

    }

    
.header-service{
    margin-right: 0;
    gap: 18px;
}

.header-service-item-btn-icon.search{
    width: 20px;
    height: 20px;
}

.header-service-item-btn-icon.shopping{
    width: 16px;
    height: 16px;
}

.header-burger{
    display: none;
}

    .header-mobile-wrap{
        margin-bottom: 0;
    }

    .first{
        padding: 224px 0 120px;
}

    .first-container{
        width: 665px;
    }

    .first-text{
        width: 539px;
    }

    .first-btn-wrap{
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .first-btn{
        margin: 0;
    }

    .first-btn:first-child{
    margin-bottom: 0;

}
}



/*section make*/


.make {
}
.make-container {
}
.make-top {
}
.make-top-text {
}
.make-footer-wrap-title {
}
.make-top-form {
}
.make-top-form-wrap-input {
}
.make-top-form-input {
}
.make-top-form-select {
}
.make-top-form-aria {
}
.make-top-form-btn {
}







.make {
    padding-top: 115px;
    padding-bottom: 85px;
    background-image: url();
}
.make-container {
    margin: 0 auto;
    padding: 0 15px;
    width: 322px;
}

.make-text {
    margin-bottom: 40px;
    color: #252B42;
    text-align: center;
    font-weight: 700;
    line-height: 1.5; 
    letter-spacing: 0.1px;
}
.make-title {
    color: #252B42;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.42;
    letter-spacing: 0.2px;
}

.make-form-input,
.make-form-select{
    display: block;
    width: 100%;
    height: 50px;
    padding: 11px 0 15px 21px;
}

.make-top-title-form {
}
.make-top-title-form-wrap-input {
}
.make-top-form-aria {
}
.make-footer {
}
.make-footer-wrap-text {
}
.make-footer-title {
}




 






/*INDUSTRY*/

.industry {
    margin: 0 auto;
    padding: 75px 0 160px;
    
}
.industry-container {
    margin: 0 auto;
    width: 334px;
    
}
.industry-title {
    text-align: center;
    color: #252B42;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.42; 
    letter-spacing: 0.2px;
    
}
.industry-text {
    margin: 0 auto;
    margin-bottom: 45px;
    text-align: center;
    width: 305px;
    color: #737373;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.42; 
    letter-spacing: 0.2px;
}
.industry-service {
    
}
.industry-service-list {
    
    display: flex;
    padding-left: 0;
    
    /* width: 328px; */
    flex-direction: column;
    align-items: flex-start;
    
    
}

.industry-service-list-item:not(:last-child){
    margin-bottom: 30px;
}


.industry-service-list-item {
    padding: 35px 40px;
    width: 328px;
    height: 193px;
    border: 1px solid #E8E8E8;
    background: #FFF; 
    
}
.industry-service-list-item-wrap {
    display: flex;
    /* align-items: center; */
    
}
.industry-service-list-item-icon {
    margin-right: 15px;
    width: 48px;
}

.industry-service-list-item-icon.box{
    height: 40.8px;
}

.industry-service-list-item-icon.twotone{
    height: 47.4px;
}
.industry-service-list-item-icon.notebook{
    height: 38px;
}
.industry-service-list-item-icon.users{
    height: 44.2px;
}
.industry-service-list-item-icon.stats{
    height: 27px;
}
.industry-service-list-item-icon.award{
    width: 36px;
    height: 48px;
}



.industry-service-list-item-title {
    width: 156px;
    color: #252B42;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.1px;
}
.industry-service-list-item-text {
    color: #737373;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.42; 
    letter-spacing: 0.2px;
}


@media (min-width:1080px){
    .industry {
               padding: 145px 0 100px;
    }
        
        
    
    .industry-container {
       
        width: 864px;
}
}




/*WHO*/

.who{
    padding-top: 98px;
    padding-bottom: 174px;
    background-color: linear-gradient( #F3F3F3 calc(100% - 410px), #000000 410px);
}

.who-container {
    margin: 0 auto;
    padding: 0 15px;
    width: 310px;
}
.who-title {
    margin-bottom: 10px;
    color: #252B42;
    text-align: center;
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.42; 
    letter-spacing: 0.2px;
}
.who-text {
    margin: 0 auto;
    margin-bottom: 60px;
    width: 225px;
    color: #252B42;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.42; 
    letter-spacing: 0.2px;
}
.who-video {
    position: relative;
    margin: 0 auto;
    width: 280px;
    height: 442px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 14.58%, rgba(56, 56, 56, 0.84) 100%), url(../img/video-mobile.jpg);
       
}

.who-video::before{
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 98px;
    height: 98px;
    border-radius: 50%;
    background-color: #0D5C63;
    background-image: url(../img/play.svg);
    background-repeat: no-repeat;
    background-position: center;
    transform: translate(-50%, -50%);
}




/* MEET*/

.meet{
    padding-top: 75px;
    padding-bottom: 124px;

}

.meet-container{
    margin: 0 auto;
    padding-top: 75px;
    width: 358px;
    padding: 0 15px;

}

.meet-title{
    margin: 0 auto;
    width: 203px;
    margin-bottom: 10px;
    font-size: 40px;
    color: #252B42;
    text-align: center;
    font-weight: 700;
    line-height: 1.42;
    letter-spacing: 0.2px;
}

      
.meet-text {
    margin: 0 auto;
    width: 262px;
    margin-bottom: 45px;
    text-align: center;
    color: #737373;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.42;
    letter-spacing: 0.2px;
}
.meet-list {
    margin: 0 auto;
    padding-left: 0;
    width: 328px;
      
}

.meet-list-item {
    padding-bottom: 30px;
    width: 328px;
    height: 373px;
    border: 1px solid #EEE;
}



.meet-list-item.disap{
display: none;
}

.meet-list-item-image {
    margin-bottom: 30px;
}


.meet-list-item:not(:last-child){
    margin-bottom: 30px;
}

.meet-list-item-name {
    margin-bottom: 5px;
    text-align: center;
    color: #252B42;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.1px;
}

.meet-list-item-spec {
    margin-bottom: 5px;
    text-align: center;
    color: #737373;
    font-weight: 600;
    line-height: 1.7;
    letter-spacing: 0.2px;
}

.meet-list-item-media {
    padding-left: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  
.meet-list-item-media-direct{
    display: block;
}

.meet-list-item-media-icon{
    width: 24px;
    height: 24px;
}


@media (min-width:1080px){

    .meet{
        padding-top: 80px;
        padding-bottom: 92px;
    }
    .meet-container{
    width: 1076px;
}

.meet-title{
    width: auto;
    
}

.meet-text{
    margin-bottom: 80px;
    width: 470px;
    
}

.meet-list{
    padding-left: 0;
    width: 1050px;

    display: flex;
    gap: 30px; 
    
}

.list-item{
    width: calc((100%-60px) /3);
}
.list-item:not(:last-child){
    margin-bottom: 0;

}
.meet-list-item.appear{
    display: none;
}
.meet-list-item.disap{
    display: block;
    }
}

/*WHAT*/

.what {
    padding-top: 75px;
    padding-bottom: 94px;
    background: #FAFAFA;
    
}

.what-container{
    margin: 0 auto;
    width: 330px;
}
.what-title {
    margin: 0 auto;
    margin-bottom: 10px;
    text-align: center;
    width: 250px;
    color: #252B42;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.42; 
    letter-spacing: 0.2px;
}
.what-descrip {
    margin: 0 auto;
    margin-bottom: 60px;
    text-align: center;
    width: 262px;
    color: #737373;
    font-weight: 500;
    line-height: 1.42; 
    letter-spacing: 0.2px;
}
.what-list {
    margin: 0 auto;
    padding-left: 0;
    /* padding: 30px 35px; */
    width: 327px;
}
.what-list-item {
    margin: 0 auto;
    padding: 30px 0;
    width: 327px;
    border-radius: 5px;
    border: 1px solid #DEDEDE;
    
}

.what-list-item:not(:last-child){
    margin-bottom: 30px;
 }

.what-list-item-svg {
    margin-bottom: 20px;
    padding-left: 0;
    text-align: left;
    width: 110px;
    height: 22px;
}
.what-list-item-response {
    margin-bottom: 20px;
    width: 234px;
    color: #737373;
    font-weight: 600;
    line-height: 1.7; 
    letter-spacing: 0.2px;

}
.what-list-item-client {
    display: flex;
    gap: 15px;

}
.what-list-item-client-pctr {
    border-radius: 50px;
    order: 1px solid #BDBDBD;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;



}
.what-list-item-client-name {
    color: #FF7B47;
    font-weight: 600;
    line-height: 1.7; 
    letter-spacing: 0.2px;
}
.what-list-item-client-position {
    color: #252B42;
    font-weight: 600;
    line-height: 1.7; 
    letter-spacing: 0.2px;
}
/*CONSULTING*/

.consulting {
    padding: 40px 67px;
}
.consultung-container {
    margin: 0 auto;
    width: 285px;
    
}

.consulting-text-container{
    margin: 0 auto;
    width: 243px;
}

.consulting-text-container-title {
    margin-bottom: 10px;
    color: #252B42;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.33; 
    letter-spacing: 0.1px;
    }

    


.consulting-text-container-text {
    margin-bottom: 50px;
    width: 184px;
    color: #737373;
    font-weight: 500;
    line-height: 1.42; /* 142.857% */
    letter-spacing: 0.2px;
}

.consulting-inform-btn {
    padding: 15px 40px;
    width: 285px;
    height: 58px;
    color: #FFF;
    text-align: center;
    font-weight: 700;
    line-height: 2; 
    letter-spacing: 0.2px;
    border-radius: 5px;
    background-color: #FF7B47;
    border-color: transparent;
    
}

.consulting-btn:hover{
    color: #FF7B47;
    border-color: #FF7B47;
    background-color: #FFFFFF;
}


@media ((min-width:1080px)) {
    .consulting {
        padding: 40px 195px;
    }
    .consultung-container {
        display: flex;
        width: 1050px;
        
    }
    
    .consulting-text-container{
        position: relative;
        margin: 0 360px 0 0;
        width: 100%;
        
    }
    
    .consulting-text-container-title {
        width: auto;
        
        }
    
        
    
    
    .consulting-text-container-text {
            width: auto;
        
    }
    
    .consulting-btn {
        position: absolute;


        padding: 15px 40px;
        width: 236px;
        right: 50px;
        
    }
    
    .consulting-btn:hover{
        color: #FF7B47;
        border-color: #FF7B47;
        background-color: #FFFFFF;
    }
}

/*FOOTER*/

.footer-top {
    background-color: #252B42;
}

.footer-container{
   margin: 0 auto;
    max-width: 351px;
    color: #ffffff;
}

.footer-container.start {
    padding: 40px 0 45px;
    
    
}
.footer-top-social {
    
    /* margin: 0 auto; 
    width: 243px;
    height: 132px;*/
   
}
.footer-top-social-title {
    margin-bottom: 50px;
    padding: 13px 72px 13px 0;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.33; 
    letter-spacing: 0.1px;
    color: #ffffff;
}
.footer-top-social-list {
    margin-bottom: 110px;
    padding-left: 0;
}
.footer-top-social-list-item {
    
    
    display: inline;
    
}

.footer-top-social-list-item:not(:last-child){
    margin-right: 20px;
}

.footer-top-social-list-item-link {
    
}
.footer-top-social-list-item-link-icon {
    
    width: 24px;
    height: 24px;

   
}


.footer-top-info {
}
.footer-top-info-links {
    margin-bottom: 30px;
}
.footer-top-info-links-title {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5; 
    letter-spacing: 0.1px;
}
.footer-top-info-links-list {
    padding-left: 0;

}

.footer-top-info-links-list-item-direc{
    cursor: pointer;
}

.footer-top-info-links-list-item:not(:last-child) {
    margin-bottom: 10px;

}
.footer-top-info-form {
}
.footer-top-info-form-title {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5; 
    letter-spacing: 0.1px;
}
.footer-top-info-form-wrap {
    position: relative;
    
}
.footer-top-info-form-input {
    padding-left: 20px;
    width: 100%;
    height: 58px;
    border-radius: 5px;
    border: 1px solid #E6E6E6;
}
.footer-top-info-form-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 117px;
    height: 58px;
    background-color: #FF7B47;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #E6E6E6;

}
.footer-top-info-form-text {
    font-size: 12px;
    font-weight: 400;
    line-height: 2.3; /* 233.333% */
    letter-spacing: 0.2px;

}
.footer-copyright {
    background-color: #17213C;
}

.footer-container.end{
    /* padding: 25px 0;
    margin: 0 auto;
    width: 221px; */
    color: #ffffff;
    /* border: 2px solid yellow; */
    
}
.footer-copyright-text {
    padding: 25px 0;
    margin: 0 auto;
    width: 225px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.7; /* 171.429% */
    letter-spacing: 0.2px;
    /* border: 2px solid #FF7B47; */
}


/*@MEDIA-HEADER*/
@media (min-width:1080px){
    /* header{
        position: absolute;
        top: 0;
        left: 0;
        border-color: transparent;
    }

    .hero{
        padding: 200px 0;
} */
}

/*@MEDIA-WHO*/

@media(min-width: 1080px) {
    .who{
        padding: 80px 0;
        background: linear-gradient( #F3F3F3 calc(100% - 350px), #000000 350px);
    }
    
        .who-container {
        width: 880px;
    
    }
    
    .who-text {
        margin-bottom: 50px;
        width: 470px;
    }
    .who-video {
        width: 877px;
        height: 442px;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 14.58%, rgba(56, 56, 56, 0.84) 100%), url(../img/video-desct.jpg);
    }
    
    }



/*@MEDIA-WHAT*/

@media(min-width: 1080px) {
    .what {
        /* padding: 80px 0; */
        margin: 0 auto;
        background: #F3F3F3;
        display: flex;
        /* width: 1050px; */
        flex-direction: column;
        align-items: center;
        gap: 80px;
    }
    
    .what-container{
        margin: 0 auto;
        /* padding: 80px 0; */
        width: 1050px;


    }


    .what-title {
        width: 100%;
        
    }
    .what-descrip {
        
        margin-bottom: 80px;
        width: 470px;
        color: #737373;
        font-weight: 500;
        line-height: 1.42; 
        letter-spacing: 0.2px;
    }
    .what-list {
        margin: 0 auto;
        padding-left: 0;
        display: flex;
        /* padding: 30px 35px; */
        width: 100%;
        gap: 32px;
    }
    .what-list-item {
       padding: 30px 35px;
        width: 327px;
        border-radius: 5px;
        border: 1px solid #DEDEDE;
        background-color: #FFF;
        
    }
    
    .what-list-item:not(:last-child){
        margin-bottom: 0;
     }
    
    .what-list-item-svg {
        margin-bottom: 20px;
        padding-left: 0;
        text-align: left;
        width: 110px;
        height: 22px;
    }
    .what-list-item-response {
        margin-bottom: 20px;
        width: 234px;
        color: #737373;
        font-weight: 600;
        line-height: 1.7; 
        letter-spacing: 0.2px;
    
    }
    .what-list-item-client {
        display: flex;
        gap: 15px;
    
    }
    .what-list-item-client-pctr {
    }
    .what-list-item-client-name {
        color: #FF7B47;
        font-weight: 600;
        line-height: 1.7; 
        letter-spacing: 0.2px;
    }
    .what-list-item-client-position {
        color: #252B42;
        font-weight: 600;
        line-height: 1.7; 
        letter-spacing: 0.2px;
    }
    

}

/*@MEDIA-MEET*/

@media(min-width: 1080px) {
    .who{
        padding: 80px 0;
        background: linear-gradient( #F3F3F3 calc(100% - 350px), #000000 350px);
    }
    
        .who-container {
        width: 880px;
    
    }
    
    .who-text {
        margin-bottom: 50px;
        width: 470px;
    }
    .who-video {
        width: 877px;
        height: 442px;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 14.58%, rgba(56, 56, 56, 0.84) 100%), url(../img/video-desct.jpg);
    }
    
    }

/*@media FOOTER*/

@media (min-width: 1080px){
    .footer-top {
        padding: 40px 195px 0 195px;
    } 
    
    .footer-container{

        max-width: 1050px;
       
    }
    
    .footer-container.start {
        /* padding: 40px 0 45px; */
        
        
    }
    .footer-top-social {
        display: flex;
        gap: 640px;
        padding-bottom: 40px;
        border-bottom: 1px solid #364067;
        
       
    }
    .footer-top-social-title {
        margin: 0;
        padding: 0;
        
    }
    .footer-top-social-list {
        margin: 0;
        padding: 0;
    }
    
    .footer-top-info {
        margin: 70px 0;
    display: flex;
    gap: 30px;
    }
    .footer-top-info-links:nth-child(2n+1) {
        width: 148px;
    }

    .footer-top-info-links:nth-child(2n){
        width: 152px;
        }  

        
        /* margin-bottom: 30px; */
    }
    .footer-top-info-links-title {
        margin-bottom: 20px;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.5; 
        letter-spacing: 0.1px;
    }
    .footer-top-info-links-list {
        padding-left: 0;
    
    }
    
    .footer-top-info-links-list-item-direc{
        cursor: pointer;
    }
    
    .footer-top-info-links-list-item:not(:last-child) {
        margin-bottom: 10px;
    
    }
    .footer-top-info-form {
    }
    .footer-top-info-form-title {
        margin-bottom: 20px;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.5; 
        letter-spacing: 0.1px;
    }
    .footer-top-info-form-wrap {
        position: relative;
        width: 321px;
        
        
    }
    .footer-top-info-form-input {
        padding-left: 20px;
        width: 100%;
        height: 58px;
        border-radius: 5px;
        border: 1px solid #E6E6E6;
    }
    .footer-top-info-form-btn {
        position: absolute;
        top: 0;
        right: 0;
        width: 117px;
        height: 58px;
        background-color: #FF7B47;
        border-radius: 0px 5px 5px 0px;
        border: 1px solid #E6E6E6;
    
    }
    .footer-top-info-form-text {
        font-size: 12px;
        font-weight: 400;
        line-height: 2.3; /* 233.333% */
        letter-spacing: 0.2px;
    
    }
    .footer-copyright {
        background-color: #17213C;
    }
    
    .footer-container.end{
        /* padding: 25px 0;
        margin: 0 auto;
        width: 221px; */
        color: #ffffff;
        /* border: 2px solid yellow; */
        
    }
    .footer-copyright-text {
        padding: 25px 0;
        margin: 0 auto;
        width: 225px;
        text-align: center;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.7; /* 171.429% */
        letter-spacing: 0.2px;
        /* border: 2px solid #FF7B47; */
    }

